<div class="left-bar--list">
    <div class="list-group">
        <a href="/updates/" class="list-group-item list-group-item-action">
            <svg><use xlink:href="/img/icons.svg#plus-circle-dotted"></use></svg>Обновления
        </a>
        <a href="/games/" class="list-group-item list-group-item-action">
            <svg><use xlink:href="/img/icons.svg#dice-3"></use></svg>Игры
        </a>
        <a href="/tech/" class="list-group-item list-group-item-action">
            <svg><use xlink:href="/img/icons.svg#display"></use></svg>Техника
        </a>
        <a href="/more/" class="list-group-item list-group-item-action">
            <svg><use xlink:href="/img/icons.svg#three-dots"></use></svg>Ещё
        </a>
    </div>
</div>

<div class="left-bar--social">
    <a href="https://t.me/specialtg" target="_blank" class="list-group-item list-group-item-action">
        <svg><use xlink:href="/img/icons.svg#telegram"></use></svg>
    </a>
    <a href="https://vk.com/getspecial" target="_blank" class="list-group-item list-group-item-action">
        <svg width="32" xmlns="http://www.w3.org/2000/svg" viewBox="20 18 60 70">
            <path
                d="M53 73.8c-22.7 0-35.7-15.6-36.3-41.6h11.4c.4 19.1 8.8 27.2 15.5 28.8V32.2h10.7v16.5c6.6-.7 13.5-8.2 15.8-16.5h10.8C79 42.4 71.5 49.9 66.2 52.9c8.4 4.2 14.7 11.8 17.2 20.9H71.5c-2.5-7.9-8.9-14-17.2-14.9v14.9H53z" />
        </svg>
    </a>
    <a href="#" target="_blank" class="list-group-item list-group-item-action">
        <svg width="64" xmlns="http://www.w3.org/2000/svg" viewBox="20 15 60 70">
            <path
                d="M49.1 17.2C48.9 30.5 48 38 43 43s-12.4 5.8-25.8 6v2c13.3.2 20.7 1 25.7 6s5.9 12.4 6.1 25.7h2c.2-13.2 1.1-20.7 6-25.7s12.4-5.9 25.7-6v-2C69.5 48.9 62 48 57 43s-5.8-12.5-6-25.7l-1.9-.1z" />
        </svg>
    </a>
    <a href="https://news.dybka.ru" class="list-group-item list-group-item-action">
        <svg><use xlink:href="/img/icons.svg#globe2"></use></svg>
    </a>
    <a href="mailto:daniil@dybka.ru" class="list-group-item list-group-item-action">
        <svg><use xlink:href="/img/icons.svg#envelope-at"></use></svg>
    </a>
</div>

<div class="left-bar--container container px-0">
  <div class="row row-cols-1 row-cols-lg-2 gx-2">
    <div class="col">
        <a href="/about/" class="link">
            О проекте
        </a>
    </div>
    <div class="col">
        <a href="/about/add-article/" class="link">
            Написать статью
        </a>
    </div>
    <div class="col">
        <a href="/about/user/" class="link">
            Пользователю
        </a>
    </div>
    <div class="col">
        <a href="/about/author/" class="link">
            Авторство
        </a>
    </div>
  </div>
</div>

<div class="left-bar--container container px-0">
    <div class="d-flex justify-content-between align-items-center theme-toggle">
        <input onClick="checkValue()" type="radio" class="btn-check" name="color-theme" id="radio1" value="light" autocomplete="off">
        <label class="btn btn-secondary" for="radio1">Светлая</label>
        <input onClick="checkValue()" type="radio" class="btn-check" name="color-theme" id="radio2" value="auto" autocomplete="off" checked>
        <label class="btn btn-secondary" for="radio2">Авто</label>
        <input onClick="checkValue()" type="radio" class="btn-check" name="color-theme" id="radio3" value="dark" autocomplete="off">
        <label class="btn btn-secondary" for="radio3">Тёмная</label>
    </div>
</div>
