---
layout: "container.njk"
---

<div class="posts">
    <div class="container">
        <div id="postsload_{{ postsload }}" class="row row-cols-1 row-cols-lg-1">
            {% for post in posts %}
            <div class="col px-0">
                <a href="/articles/{{ post.link }}/" class="card">
                    <img src="/articles/{{ post.link }}/cap@min.jpg" class="card-img" alt="{{ post.alt }}">
                    <div class="card-img-overlay title">
                        <span>{{ post.name }}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="/js/posts-load.js"></script>
