:root {

    /* Border radius */
    --border-radius-1: 6px;
    --border-radius-2: 8px;
    --border-radius-3: 10px;
    --border-radius-4: 12px;

    /* Delay */
    --delay-1: .3s;

    /* Colors */
    --list-group-item-color: rgba(0, 170, 255, 0.3);
}
