.content
{
    margin-top: 50px;
}

.content h1 {
    font-size: 60px;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.content h2 {
    font-size: 40px;
}

.content h3 {
    font-size: 30px;
}

.content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.content img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: var(--border-radius-2);
}

.content .subtitle {
    font-size: 20px;
    color: var(--text-color-2);
    margin-bottom: 30px;
}

.content li {
    font-size: 20px;
}

.content a {
    font-size: 20px;
    border-bottom: 1px solid var(--text-color-4);
    text-decoration: none;
    color: var(--text-default);
}

.content a:hover,
.content a:focus {
    border-bottom: 1px solid var(--text-default);
    color: var(--text-default);
}

.content ul {
    font-size: 20px;
}

.post--after
{
    margin-top: 100px;
    padding-top: 50px;
    border-top: 1px solid var(--text-color-3);
}
